<div class="mb-4" dir="rtl">
  <h2 class="text-success">ایجاد حساب کاربری</h2>
  <div>حساب کاربری دارید؟
    <a routerLink="/signin" class="text-decoration-none fw-medium text-success d-inline-block">وارد شوید</a>
  </div>
</div>
<form [formGroup]="form" dir="rtl" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="نام کامل"
      formControlName="fullName"
    />
    <div
      *ngIf="
        hasDisplayError('fullName') &&
        form.controls['fullName'].hasError('required')
      "
      class="error-feedback"
    >
      نام را وارد کنید
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="ایمیل"
      formControlName="email"
    />
    <div *ngIf="hasDisplayError('email')" class="error-feedback">
      <div *ngIf="form.controls['email'].hasError('required')">
        آدرس ایمیل وارد نشده است
      </div>
      <div *ngIf="form.controls['email'].hasError('email')">
        فرمت آدرس ایمیل رعایت نشده است
      </div>
    </div>
  </div>

  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="رمز عبور"
      formControlName="password"
    />
    <div *ngIf="hasDisplayError('password')" class="error-feedback">
      @switch (form.controls['password'].errors | firstKey) { @case('required')
      {
      <div>رمز عبور وارد نشده است</div>
      } @case('minlength'){
      <div>رمز عبور حداقل باید 6 کاراکتر باشد</div>
      } }
    </div>
  </div>

  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="تایید رمز عبور"
      formControlName="confirmPassword"
    />
    <div
      *ngIf="
        hasDisplayError('confirmPassword') &&
        form.controls['confirmPassword'].hasError('passwordMismatch')
      "
      class="error-feedback"
    >
      تایید رمز عبور و رمز عبور یکسان نیستند
    </div>
  </div>

  <div class="mt-4">
    <button
      type="submit"
      class="btn btn-success w-100 rounded-3"
      [disabled]="form.invalid"
    >
      ثبت نام
    </button>
  </div>
</form>
